<p>myapp works!</p>
<p>
    <mat-toolbar>
        <span>My Application</span>
    </mat-toolbar>
</p>
<p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My app</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favourite-icon" aria-label="example-icon-button with heart icon">
            <mat-icon>favourite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="example-icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>
<p>
    <mat-toolbar color="success">
        <button mat-icon-button class="example-icon" aria-label="example-icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My app</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favourite-icon" aria-label=""
    </mat-toolbar> 
</p>